Rules-Requires-Root: no
Standards-Version: 4.6.1.0
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               python3-all,
               python3-setuptools (>= 46.1)
Testsuite: autopkgtest-pkg-python
Source: python-setuptools-gettext
Homepage: https://github.com/breezy-team/setuptools-gettext
Priority: optional
Section: python
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>

Package: python3-setuptools-gettext
Depends: ${python3:Depends}, ${misc:Depends}
Architecture: all
Description: Setuptools gettext extension plugin
 # setuptools plugin for gettext
 .
 Compile .po files into .mo files.
