---
name: Python tests

"on":
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "0 6 * * *"   # Daily 6AM UTC build

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - '3.14'
          - '3.13'
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade setuptools
      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt install gettext
        if: "matrix.os == 'ubuntu-latest'"
      - name: Style checks
        run: |
          pip install -U ".[dev]"
          python -m ruff check .
      - name: Typing checks
        run: |
          pip install -U types-setuptools
          python -m mypy setuptools_gettext
        if: "matrix.python-version != 'pypy3'"
      - name: Unit tests
        run: |
          pip install -U pytest
          python -m pytest tests/
